<%= form_with(model: artist, local: true) do |f| %>
  <% if artist.errors.any? %>
    <div class="error-explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
      <ul>
        <% artist.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit "Save", class: "btn" %>
<% end %>
